@page
@using Petshop.Models
@model Petshop.Pages.Animals.GuineapigsModel
@{
}
@{
    ViewData["Title"] = "All Guneapigs";

}
<h1>All Dogs</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Alder
            </th>
            <th>
                Køn
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Pris
            </th>
            <th>
                Billede
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Animal item in Model.Animals)
            {
                if (item is Guineapig)
                {
                    <tr>
                        <td>
                            @item.Navn
                        </td>
                        <td>
                            @item.Alder
                        </td>
                        <td>
                            @item.Køn
                        </td>
                        <td>
                            @item.Beskrivelse
                        </td>
                        <td>
                            @item.Pris
                        </td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <img src="~/Images/@item.BilledeNavn" width="60" height="70">
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">@item.Navn</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <img src="/Images/marsvin.jpg" class="d-block w-100" alt="...">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="/Images/marsvin2.jpg" class="d-block w-100" alt="...">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="/Images/marsvin3.jpg" class="d-block w-100" alt="...">
                                                    </div>
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>