@page
@using Petshop.Models
@model Petshop.Pages.Animals.RabbitsModel
@{
}
@{
    ViewData["Title"] = "All Rabbits";

}
<h1>All Rabbits</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Alder
            </th>
            <th>
                Køn
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Pris
            </th>
            <th>
                Billede
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Animal item in Model.Animals)
            {
                if (item is Rabbit)
                {
                    <tr>
                        <td>
                            @item.Navn
                        </td>
                        <td>
                            @item.Alder
                        </td>
                        <td>
                            @item.Køn
                        </td>
                        <td>
                            @item.Beskrivelse
                        </td>
                        <td>
                            @item.Pris Kr
                        </td>
                        <td>
                            <img src="~/Images/@item.BilledeNavn" width="60" height="70">
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>